@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wrapper {
        @apply max-w-7xl px-4 sm:px-6 md:px-8 lg:mx-auto xl:px-4
    }
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    background-color: #030E21;
}

.input-cont {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.input-field {
    position: absolute;
    outline: none;
    height: 40px;
    font-size: 1em;
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
    padding: 0px 20px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent !important;
    transition: 0.1s ease;
    font-weight:500;
    z-index: 1111;
}

.input-label {
    position: absolute;
    padding: 0px 10px;
    margin: 0px 20px;
    background-color: #0f1828;
    transition: 0.2s ease;
    font-weight: 500;
    opacity: 0;
}

.textarea-field {
    position: absolute;
    outline: none;
    /* height: 40px; */
    font-size: 1em;
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
    padding: 20px 20px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent !important;
    transition: 0.1s ease;
    font-weight:500;
    z-index: 1111;
}
.textarea-label {
    position: absolute;
    padding: 0px 10px;
    margin: 0px 20px;
    background-color: #0f1828;
    transition: 0.2s ease;
    font-weight: 500;
    opacity: 0;
}
.textarea-field:focus + .textarea-label {
    color:#f0ffff ;
    transform: translate(-9px,-20px);
    z-index: 1111;
    opacity: 100;
}

.input-field:focus + .input-label {
    color:#f0ffff ;
    transform: translate(-9px,-20px);
    z-index: 1111;
    opacity: 100;
}
.input-field:focus {
    color:#f0ffff ;
    height: 60px;
    background-color: transparent;
}
input[type="text"]:focus, input[type="text"]:not(:placeholder-shown) {
    background-color: transparent; /* Set background to transparent when focused or when a value is selected */
}

/* ================================================ */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .container span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .container span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .container span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  